<div class="content">
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1>Me dijeron que el que estaba leyendo esto era un bichito insolente *_* así que le dejo a ese bichito una invitación para mañana:</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("kramer.jpg"), width: '500', :alt => "Kramer" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("strawberry.jpg"), width: '500', :alt => "Strawberries" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("wine.jpg"), width: '500', :alt => "Wine" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("box.jpg"), width: '500', :alt => "Box" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h2>Siempre y cuando quiera y no le incomode &gt;_&lt;</h2>
		</div>
	</div>
</div>