// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "twitter/bootstrap";
@import "font-awesome";


.content
{
	text-align: center;
	img {
		margin: 20px;
		width: 100%;
	}
	row {
		width: 100%;
	}
}